@model Site_Lab12.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BodyText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyText)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<hr />


<div class="container">
    <div class="comments">
        <h3 class="title-comments">Комментарии (6)</h3>
        <ul class="media-list">
            <!-- Комментарий (уровень 1) -->
            <li class="media">
                <div class="media-left">
                  
                </div>
                <div class="media-body">
                    <div class="media-heading">                             @*COMENTATOR NAME*@
                        <div class="author"><b>@User.Identity.Name</b></div>
                        <div class="metadata">
                            <span class="date">16 ноября 2015, 13:43</span> @*COMMENT TIME*@
                        </div>
                    </div>
                    <div class="media-text text-justify"> @*ADD COMMENT TEXT*@
                        Lorem ipsum dolor sit amet. Blanditiis praesentium voluptatum
                        deleniti atque. Autem vel illum, qui blanditiis praesentium voluptatum deleniti atque corrupti.
                        Dolor repellendus cum soluta nobis. Corporis suscipit laboriosam, nisi ut enim. Debitis aut
                        perferendis doloribus asperiores repellat. sint, obcaecati cupiditate non numquam eius. Itaque
                        earum rerum facilis. Similique sunt in ea commodi. Dolor repellendus numquam eius modi. Quam
                        nihil molestiae consequatur, vel illum, qui ratione voluptatem accusantium doloremque.
                    </div>
                    <div class="footer-comment">

                        <span class="comment-reply"> @*ADD A REF TO ANSWER*@
                            <a href="#" class="reply">Відповісти</a>
                        </span>
                    </div>

                    <!-- Вложенный медиа-компонент (уровень 2) -->
                    <div class="media">
                        <div class="media-left">
                            
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <div class="author">Пётр</div>
                                <div class="metadata">
                                    <span class="date">19 ноября 2015, 10:28</span>
                                </div>
                            </div>
                            <div class="media-text text-justify">
                                Dolor sit, amet, consectetur, adipisci velit. Aperiam
                                eaque ipsa, quae. Amet, consectetur, adipisci velit, sed quia consequuntur magni
                                dolores. Ab illo inventore veritatis et quasi architecto. Quisquam est, omnis voluptas
                                nulla. Obcaecati cupiditate non numquam eius modi tempora. Corporis suscipit laboriosam,
                                nisi ut labore et aut reiciendis.
                            </div>
                            <div class="footer-comment">
                               
                                <span class="comment-reply">
                                    <a href="#" class="reply">ответить</a>
                                </span>
                            </div>

                            <!-- Вложенный медиа-компонент (уровень 3) -->
                            <div class="media">
                                
                                <div class="media-body">
                                    <div class="media-heading">
                                        <div class="author">Александр</div>
                                        <div class="metadata">
                                            <span class="date">Вчера в 19:34</span>
                                        </div>
                                    </div>
                                    <div class="media-text text-justify">
                                        Amet, consectetur, adipisci velit, sed ut
                                        labore et dolore. Maiores alias consequatur aut perferendis doloribus
                                        asperiores. Voluptas nulla vero eos. Minima veniam, quis nostrum exercitationem
                                        ullam corporis. Atque corrupti, quos dolores eos, qui blanditiis praesentium
                                        voluptatum deleniti atque corrupti. Quibusdam et harum quidem rerum
                                        necessitatibus saepe eveniet, ut enim ipsam. Magni dolores et dolorum fuga
                                        nostrum exercitationem ullam. Eligendi optio, cumque nihil molestiae
                                        consequatur.
                                    </div>
                                  
                                        <span class="comment-reply">
                                            <a href="#" class="reply">ответить</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Конец вложенного комментария (уровень 3) -->

                        </div>
                    </div>
                    <!-- Конец вложенного комментария (уровень 2) -->
                    <!-- Ещё один вложенный медиа-компонент (уровень 2) -->
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <div class="author">Сергей</div>
                                <div class="metadata">
                                    <span class="date">20 ноября 2015, 17:45</span>
                                </div>
                            </div>
                            <div class="media-text text-justify">
                                Ex ea voluptate velit esse, quam nihil impedit, quo
                                minus id quod. Totam rem aperiam eaque ipsa, quae ab illo. Minima veniam, quis nostrum
                                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid. Iste natus error sit
                                voluptatem. Sunt, explicabo deleniti atque corrupti, quos dolores et expedita.
                            </div>
                            <div class="footer-comment">
                               
                                <span class="comment-reply">
                                    <a href="#" class="reply">ответить</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Конец ещё одного вложенного комментария (уровень 2) -->

                </div>
            </li>
            <!-- Конец комментария (уровень 1) -->
            <!-- Комментарий (уровень 1) -->
            <li class="media">
                <div class="media-left">
                  
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="author">Иван</div>
                        <div class="metadata">
                            <span class="date">Вчера в 17:34</span>
                        </div>
                    </div>
                    <div class="media-text text-justify">
                        Eum iure reprehenderit, qui dolorem eum fugiat. Sint et
                        expedita distinctio velit. Architecto beatae vitae dicta sunt, explicabo unde omnis. Qui aperiam
                        eaque ipsa, quae ab illo inventore veritatis et quasi architecto. Nemo enim ipsam voluptatem
                        quia. Eos, qui ratione voluptatem sequi nesciunt, neque porro. A sapiente delectus, ut enim
                        ipsam voluptatem, quia non recusandae architecto beatae.
                    </div>
                    <div class="footer-comment">
                       
                        <span class="comment-reply">
                            <a href="#" class="reply">ответить</a>
                        </span>
                    </div>
                </div>
            </li>
            <!-- Конец комментария (уровень 1) -->
            <!-- Комментарий (уровень 1) -->
            <li class="media">
                <div class="media-left">
                   
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="author">Дима</div>
                        <div class="metadata">
                            <span class="date">3 минуты назад</span>
                        </div>
                    </div>
                    <div class="media-text text-justify">
                        Tempore, cum soluta nobis est et quas. Quas molestias excepturi
                        sint, obcaecati cupiditate non provident, similique sunt in. Obcaecati cupiditate non recusandae
                        impedit. Hic tenetur a sapiente delectus. Facere possimus, omnis dolor repellendus inventore
                        veritatis et voluptates. Ipsa, quae ab illo inventore veritatis et quasi architecto beatae. In
                        culpa, qui in culpa. Cum soluta nobis est laborum et aut perferendis doloribus. Vitae dicta
                        sunt, explicabo perspiciatis. Amet, consectetur, adipisci velit, sed quia voluptas sit,
                        aspernatur. Obcaecati cupiditate non provident, similique sunt in. Reiciendis voluptatibus
                        maiores alias consequatur aut officiis debitis aut perferendis doloribus asperiores. Assumenda
                        est, omnis dolor repellendus voluptas assumenda est omnis.
                    </div>
                    <div class="footer-comment">
                       
                        <span class="comment-reply">
                            <a href="#" class="reply">ответить</a>
                        </span>
                    </div>
                </div>
            </li>
            <!-- Конец комментария (уровень 1) -->

        </ul>
    </div>

</div>

<!-- jQuery -->
<script src="/examples/vendors/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap -->
<script src="/examples/vendors/bootstrap-3.3.7/js/bootstrap.min.js"></script>
