@model Site_Lab12.Models.Post
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Post</h4>
    <hr />
    <div class="post-info">
        <div class="post-date"> <span class="day">@Model.Date.Day</span> <span class="month">@Model.Date.Month</span></div>
        <div class="post-title">
            <h1>@Html.DisplayFor(model => model.Title)</h1>
        </div>
    </div>
    <div class="post-text">
        <p>@Model.BodyText</p>
    </div>
    <div class="hr2"></div>
    @*<dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BodyText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyText)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    *@
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "My")
</p>
<hr />
@{
    // Html.RenderAction("showComment", "Post", new { postId=Model.Id });
}
<div id="com_updt">

</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="comment-form">
        <h3>Leave a Reply</h3>
        <div class="form-container">
            <form class="forms cform" action="#" method="post">
                <fieldset>
                    <ol>


                        <li class="form-row text-area-row">
                            <label>Коментар</label>
                            <textarea name="message" id="BodyText" class="text-area required"></textarea>
                        </li>
                        <li class="form-row hidden-row">
                            <input type="hidden" name="hidden" id="postId1" value="@ViewData["postsId"]" />
                        </li>
                        <li class="button-row">
                            <input type="submit" id="SendComment" value="Submit" name="submit" class="btn-submit" />
                        </li>
                    </ol>
                    <input type="hidden" name="v_error" id="userId" value="@User.Identity.GetUserId()" />
                    <input type="hidden" name="v_email" id="authorId" value="@Model.AuthorId" />
                </fieldset>
            </form>
            <div class="response"></div>
        </div>
    </div>
}
else
{
    <h3>Коментувати можуть лише зареєстровані користувачі</h3>

}


@*<p>Назва</p>
    @Html.TextBox("Title", "Введіть назву")
    <br />
    @Html.TextArea("BodyText", "Введіть коментар", 2, 20, null)
    @Html.Hidden("postId1", $"{ViewData["postsId"]}")
    <textarea name="body" id="body" cols="20" rows="2">
        </textarea>
    <br />*@

@*<button id="SendComment" type="submit" value="Відправити">Enter</button>*@

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/MyScripts/PostScript.js"></script>


<!--Ссылка на библиотеку SignalR -->
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@*https://localhost:44385/Post/Details/12*@
