@model Site_Lab12.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BodyText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BodyText)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>
    </div>
    <script type="text/javascript">
    function OnBegin() {
        alert("Происходит отправка запроса");
    }
    function OnSuccess(data) {
        alert("Запрос был успешно выполнен. Получены следующие данные: \n" + data);
    }
    function OnFailure(request, error) {
        $("#com_updt")
    }
    function OnComplete(request, status) {
        alert("Статус запроса : " + status);
    }
    </script>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <hr />
    <div id="com_updt">
        @if (ViewBag.i == 0)
        {
            @Html.Partial("Comments", ViewData["com"])
        }
    </div>
    @using (Ajax.BeginForm("CommentAdd", new AjaxOptions
    {
        UpdateTargetId = "com_updt",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    }))
    {

        <p>Добавить комментарий</p>

        @*<p>Назва</p>*@
        @Html.TextBox("Title", "Введіть назву")
        <br />
        @Html.TextArea("BodyText", "Введіть коментар", 2, 20, null)
        @Html.Hidden("postId1", $"{ViewData["postsId"]}")
        @*<textarea name="body" id="body" cols="20" rows="2">
            </textarea>*@
        <br />
       
        <button id="submit" type="submit" value="Відправити" >Enter</button>

    }

<div id="loading" style="display:none; color:Red; font-weight:bold;">
    <p>Идет загрузка...</p>
</div>
@Scripts.Render("~/scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@*https://localhost:44385/Post/Details/12*@
