@model Site_Lab12.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


    <div class="intro">
        <h2>@Model.UserName</h2>
        <div class="hr2"></div>

        <dl class="dl-horizontal">
            <p><b>Нікнейм:</b> @Model.UserName</p>


            @if (User.IsInRole("admin"))
            {
                <p><b>Електронна пошта:</b> @Model.Email</p>

                <p><b>Номер телефону:</b> @Model.PhoneNumber</p>
                @Html.ActionLink("Змінити", "Edit2Async", new { id = Model.Id })

            }
            </p>

            @Html.ActionLink("На головну", "Index")
            <nobr>|</nobr>
            @Html.ActionLink("Написати повідомлення", "Dialog", "Dialog", new { userId = Model.Id }, null)




        </dl>
    </div>
@*<div>
    <hr />
    <dl class="dl-horizontal">
        @if (User.IsInRole("admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

        }


        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "UsersList")
</p>*@
<h2>Дописи</h2>

@Html.Partial("PartialUserPosts", ViewData["Posts"])