@model Site_Lab12.Models.ApplicationUser

@{
    ViewBag.Title = "HomePage";
}

<h2>Моя сторінка</h2>

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <dl class="dl-horizontal">
        <p>Моя пошта: @Model.Email</p>
        <p>Мій нікнейм: @Model.UserName</p>
        <p>Мій номер телефону: @Model.PhoneNumber</p>
        @foreach (var s in Model.Roles)
        {
            <p>
                @if (s.RoleId == "fec52346-e68c-41a2-b878-2a5bf51ad1a9")
                {
                <p>Ви адмін.</p>
                }
                else
                {
                    <p>Ви користувач.</p>
                }</p>
        }
      


    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit2Async", new { id = Model.Id }) |
    @Html.ActionLink("На головну", "Index")
</p>
