@model IEnumerable<Site_Lab12.Models.Post>

@foreach (var i in Model)
{
    <li><span class="date">@Html.ActionLink(i.Title,"Details","Post", new { id=i.Id }, new { @id= "postInfoLink", @style="color: khaki"})
    @*<a href="" id="postInfoLink" style="color: khaki" >@i.Title</a>*@<em class="month"></em></span> <p>@i.BodyText.Substring(0,100)</p></li>
    <hr />
}
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BodyText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BodyText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
