@model IEnumerable<Site_Lab12.Models.Post>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyText)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyText)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Детальніше", "Details", "Post", new { id = item.Id }, null)
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Змінити", "Edit", "Post", new { id = item.Id }, null) <br />
                    @Html.ActionLink("Видалити", "Details", "Post", new { id = item.Id }, null)

                }
            </td>
        </tr>
    }

</table>

